VITE_FIREBASE_API_KEY="AIzaSyDSduyQc1RUWPoksFRjzo1RPNFB7Aio8sA"
VITE_FIREBASE_AUTH_DOMAIN="queue-management-system-59e4b.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="queue-management-system-59e4b"
VITE_FIREBASE_STORAGE_BUCKET="queue-management-system-59e4b.appspot.com"
VITE_FIREBASE_MESSAGING_SENDER_ID="139979340194"
VITE_FIREBASE_APP_ID="1:139979340194:web:444fcd6c755cc10dc31afb"